@import "../../../variables.css";

.job-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  position: relative;
  top: -3.125rem;
  justify-content: space-between;
  align-items: center;
}
.header,
.details-main {
  background-color: var(--white);
  width: 45.625rem;
  border-radius: 0.375rem;
}
.details-main {
  width: 39.945rem;
  padding: 3rem 2.68rem 3rem 3rem;
  margin-bottom: 5rem;
}
.details-main p,
li {
  color: var(--dark-grey);
}

li::marker {
  color: var(--violet);
  font-weight: var(--bold-font-weight);
}

li span {
  position: relative;
  left: 2.25rem;
}
.date {
  color: var(--grey);
}
.location {
  color: var(--violet);
}
.apply-now-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand-container,
.details-logo {
  display: flex;
}
.brand-container > div:nth-child(2) {
  margin-left: 2.5rem;
}
.btn-container {
  margin-right: 2.68rem;
}
.details-logo {
  justify-content: center;
  align-items: center;
  padding: 2.5rem 1.875rem;
  width: 3rem;
  height: 3rem;
}

.details-logo img {
  margin: 3.68rem 1.875rem;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--white);
}
.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45.625rem;
}
.footer-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-post > * {
  margin: 0.5rem 0;
}

.darkmode {
  background-color: var(--very-dark-blue);
  color: var(--white);
}

.light-grey-btn.darkmode {
  background-color: var(--dark-grey);
  color: var(--white);
}
.light-grey-btn.darkmode:hover {
  background-color: var(--grey);
}

@media (max-width: 768px) {
  .header {
    width: 90%;
    top: -2rem;
  }
  .header,
  .brand-container {
    flex-direction: column;
  }
  .details-logo {
    position: absolute;
    width: 3.125rem;
    height: 3.125rem;
    padding: 0;
    top: -2rem;
    align-self: center;
    border-radius: 0.9rem;
  }
  .brand-container > div:nth-child(2) {
    margin-left: 0;
    text-align: center;
    margin-top: 1rem;
  }

  .btn-container {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .details-main {
    width: 90%;
    box-sizing: border-box;
    padding: 3rem 1rem;
    margin-bottom: 5rem;
    border-radius: 0;
  }
  .apply-now-container {
    flex-direction: column;
  }

  .details-title h1 {
    font-size: var(--medium-font);
  }

  .apply-now-container > div:nth-child(2),
  .apply-now-container > div:nth-child(2) .btn {
    width: 100%;
  }
  ul, ol {
    padding: 1rem;
  }
  li span {
    left: 1rem;
  }
  footer, .details-main {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }
  .footer-content {
    width: 100%;
  }
  .footer-content > div:first-child {
    display: none;
  }
  .footer-post {
    width: 100%;
    align-items: center;
    padding: 1.5rem;
  }
  .footer-post .btn {
    width: 90%
  }
}
