<div class="job-details">
  <!-- HEADER CONTAINER -->
  <div class="header">
    <div class="brand-container">
      <div
        class="details-logo"
        [style]="{ 'background-color': job.logoBackground }"
      >
        <img src="{{ job.logo }}" alt="logo" />
      </div>
      <div>
        <h2>{{ job.company }}</h2>
        <p>{{ job.company.toLowerCase() }}.com</p>
      </div>
    </div>
    <div class="btn-container">
      <button class="btn light-grey-btn">Company Site</button>
    </div>
  </div>
  <div class="details-main">
    <div class="apply-now-container">
      <div class="details-title">
        <p class="date">
          {{ job.postedAt }} <strong>.</strong> {{ job.contract }}
        </p>
        <h1>{{ job.position }}</h1>
        <h4 class="location">{{ job.location }}</h4>
      </div>
      <div>
        <button class="btn purple-btn">Apply Now</button>
      </div>
    </div>
    <p>{{ job.description }}</p>
    <h3>Requirements</h3>
    <p>{{ job.requirements.content }}</p>
    <ul>
      <li *ngFor="let item of job.requirements.items">
        <span>{{ item }}</span>
      </li>
    </ul>
    <h3>What You Will Do</h3>
    <p>{{ job.role.content }}</p>
    <ol>
      <li *ngFor="let item of job.role.items">
        <span> {{ item }}</span>
      </li>
    </ol>
  </div>
</div>
<footer>
  <div class="footer-content">
    <div class="footer-post">
      <h3>{{ job.position }}</h3>
      <p>{{ job.company }}</p>
    </div>
    <div class="footer-post">
      <button class="btn purple-btn">Apply Now</button>
    </div>
  </div>
</footer>
