<div class="job-listing-container">
  <div class="flex">
    <div
      class="job-card"
      *ngFor="let job of jobs"
      [ngClass]="{ darkmode: darkmode }"
    >
      <div class="job-card-header">
        <div
          class="logo-container logo-radius"
          [style]="{ 'background-color': job.logoBackground }"
        >
          <img class="job-logo" src="{{ job.logo }}" alt="logo" />
        </div>
      </div>
      <div class="job-card-content">
        <p>{{ job.postedAt }}<strong> . </strong>{{ job.contract }}</p>
        <div class="title-container"> 
          <h2 class="job-title" (click)="onOpenJobDetails(job)">
            {{ job.position }}
          </h2>
        </div>
        <p class="company">{{ job.company }}</p>
        <p>{{ job.location }}</p>
      </div>
    </div>
  </div>
  <button *ngIf="jobs.length" class="load-more-btn" (click)="onLoadMore()">Load More</button>
  <div *ngIf="!jobs.length" class="not-found" [ngClass]="{ darkmode: darkmode }">
    <h1>Sorry, no positions were found</h1>
  </div>
</div>
