<form class="search-form">
  <div class="form-input">
    <i class="icon search-icon"></i>

    <input
      type="text"
      name="search"
      id="search"
      [placeholder]="searchPlaceholder"
      [(ngModel)]="searchInput"
      class="search"
      [ngClass]="{ darkmode: darkmode }"
    />
    <i class="icon filter-icon" (click)="onOpenFilterDialog()"></i>
    <i class="icon mobile-search" (click)="onSearch()"></i>
  </div>
  <div class="form-input">
    <i class="icon location-icon"></i>
    <input
      type="text"
      name="location"
      id="location"
      placeholder="Filter by location..."
      [(ngModel)]="locationInput"
      class="location"
      [ngClass]="{ darkmode: darkmode }"
    />
  </div>
  <div class="fulltime-container" [ngClass]="{ darkmode: darkmode }">
    <input
      type="checkbox"
      class="fulltime"
      name="fulltime"
      [(ngModel)]="fullTime"
      id="fulltime"
    />
    <label for="fulltime">Full Time Only</label>
    <button class="btn purple-btn" (click)="onSearch()">Search</button>
  </div>
</form>
<!-------------------------------------------- FILTER DIALOG ------------------------------------------>
<div
  class="filter-dialog"
  *ngIf="filterDialogOpen"
  [ngClass]="{ darkmode: darkmode }"
>
  <div class="form-input">
    <i class="icon location-icon"></i>
    <input
      type="text"
      name="location"
      id="location"
      placeholder="Filter by location..."
      [(ngModel)]="locationInput"
      class="location"
      [ngClass]="{ darkmode: darkmode }"
    />
  </div>
  <div class="fulltime-container" [ngClass]="{ darkmode: darkmode }">
    <div class="mobile-fulltime-checkbox">
      <input
        type="checkbox"
        class="fulltime"
        name="fulltime"
        [(ngModel)]="fullTime"
        id="fulltime"
      />
      <label for="fulltime">Full Time Only</label>
    </div>
    <div style="width: 100%; text-align: center">
      <button class="btn purple-btn" (click)="onSearch()">Search</button>
    </div>
  </div>
</div>
