/* You can add global styles to this file, and also import other style files */
@import "./variables.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: var(--main-font);
}
/* FONTS */

h1 {
  font-size: var(--large-font);
  line-height: var(--large-line-height);
  font-weight: var(--bold-font-weight);
}

h2 {
  font-size: var(--medium-font);
  line-height: var(--medium-line-height);
  font-weight: var(--bold-font-weight);
}

h3 {
  font-size: var(--normal-font);
  line-height: var(--normal-line-height);
  font-weight: var(--bold-font-weight);
}

h4 {
  font-size: var(--small-font);
  line-height: var(--normal-line-height);
  font-weight: var(--bold-font-weight);
}

p {
  font-size: var(--regular-font);
  line-height: var(--regular-line-height);
  font-weight: var(--regular-font-weight);
}

/* BUTTONS */

.btn {
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  font-size: var(--regular-font);
  font-weight: var(--bold-font-weight);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.purple-btn {
  background-color: var(--violet);
  color: var(--white);
}

.purple-btn:hover {
  background-color: var(--light-violet);
}

.grey-btn {
  background-color: var(--grey);
  color: var(--violet);
}

.light-grey-btn {
  background-color: var(--light-grey);
  color: var(--violet);
}

.light-grey-btn:hover {
  background-color: var(--grey);
}

.grey-btn:hover {
  background-color: var(--dark-grey);
}

.dark-mode-btn {
  background-color: var(--dark-grey);
  color: var(--white);
}

.dark-mode-btn:hover {
  background-color: var(--grey);
}
