/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;400;700&family=Inter:wght@400;800&family=Kumbh+Sans:wght@100;400;700&family=League+Spartan:wght@100&display=swap");
@import "./variables.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: var(--main-font);
  background-color: rgb(216, 213, 213);
}
body.dark-theme {
  background-color: var(--midnight);
}
/* FONTS */

h1 {
  font-size: var(--large-font) !important;
  line-height: var(--large-line-height) !important;
  font-weight: var(--bold-font-weight) !important;
}

h2 {
  font-size: var(--medium-font) !important;
  line-height: var(--medium-line-height) !important;
  font-weight: var(--bold-font-weight) !important;
}

h3 {
  font-size: var(--normal-font)  !important;
  line-height: var(--normal-line-height) !important;
  font-weight: var(--bold-font-weight) !important;
}

h4 {
  font-size: var(--small-font) !important;
  line-height: var(--normal-line-height) !important;
  font-weight: var(--bold-font-weight) !important;
}

p {
  font-size: var(--regular-font) !important;
  line-height: var(--regular-line-height) !important;
  font-weight: var(--regular-font-weight) !important;
}

/* BUTTONS */

.btn {
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  font-size: var(--regular-font);
  font-weight: var(--bold-font-weight);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.purple-btn {
  background-color: var(--violet);
  color: var(--white);
}

.purple-btn:hover {
  background-color: var(--light-violet);
}

.grey-btn {
  background-color: var(--grey);
  color: var(--violet);
}

.light-grey-btn {
  background-color: var(--light-grey);
  color: var(--violet);
}

.light-grey-btn:hover {
  background-color: var(--grey);
}

.grey-btn:hover {
  background-color: var(--dark-grey);
}

.dark-mode-btn {
  background-color: var(--dark-grey);
  color: var(--white);
}

.dark-mode-btn:hover {
  background-color: var(--grey);
}
